body, html{
	padding: 0;
	margin: 0;
	height: 100vh;
	display: grid;
	place-items: center;
	background: linear-gradient(360deg, rgba(41,65,98,1) 0%, rgba(0,212,255,1) 100%);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: default;
}

.centroid_300{
	max-width: 300px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
}

.toggleContainer{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.toggleTitle{
	height: 100%;
	line-height: 34px;
	letter-spacing: 0.5px;
}

.lblToggle{
	width: 60px;
	height: 30px;
	display: block;
	border: 2px solid rgba(225, 213, 213, 0.782);
	position: relative;
	border-radius: 30px;
	transition: all ease-in-out 0.3s;
	cursor: pointer;
}

.toggle-ball{
	width: 30px;
	height: 30px;
	background: rgba(225, 213, 213, 0.844);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

/* toggle position */
.toggle-ball.holdToggle{
	left: 30px;
	background: #fff;
}

/* untoggle position */
.toggle-ball.reverseToggle{
	left: 0px;
	background: #fff;
}


/* TOGGLE ANIMATION */
@keyframes setToggle {
	0%{
		transform: scaleX(1) translateX(1px);
		left: 0px;
	}
	50%{
		transform: scaleX(1.2) translateX(2px);
		left: -2px;
	}
	100%{
		transform: scaleX(1);
		left: 30px;
		background: #fff;
	}
}


/* UNTOGGLE ANIMATION */
@keyframes unsetToggle {
	0%{
		transform: scaleX(1) translateX(1px);
		left: 30px;
	}
	50%{
		transform: scaleX(1.2) translateX(2px);
		left: 31px;
	}
	100%{
		transform: scaleX(1);
		left: 0px;
		background: #fff;
	}
}

.hidebx{
	display: none;
}
